*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container{
    width: 100%;
    padding: 50px 0;
    min-height: 90vh;
    display: flex;
    justify-content: space-evenly;
}

.container-items{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-right: 2px solid #01eeff;
    padding: 0 40px;
}

.cart-info{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
    border-right: 2px solid #01eeff;
}

.btn-cart{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    
}

.btn-cart > button {
    width: 200px;
    
}

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    box-shadow: 0px 2px 5px 0px #01eeff;
    border-radius: 10px;
    padding: 0px;

}

.cart-item > img{
    width: 10%;
    height: 80px;
    object-fit: cover;
      
}



.cart-item-info{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    gap:10px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: large;
    border-right: 2px solid #01eeff;
    
}

.cart-item-info > h2{
    font-family: monospace;
    font-size: 15px;
    border-right: 2px solid #01eeff;
}

.cart-item-info > h3{
    font-family: monospace;
    font-size: 15px;
    border-right: 2px solid #01eeff;
    
}

.cart-item-info > h4{
    font-family: monospace;
    font-size: 15px;
    border-right: 2px solid #01eeff;
}

.cart-item-info > h5{
    font-family: monospace;
    font-size: 15px;
    border-right: 2px solid #01eeff;
    margin-bottom: 8px;
}

.confirmar-compra{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 350px;
    padding: 8%;
}

    
.confirmar-compra-h2{
    color: #ffffff;
   
}
.orden-de-compra{
    display: flex;
    justify-content: center;
}

