*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    
}


h1{
    display: flex;
    justify-content: center;
    color: #fff;
}

h6{
    display: flex;
    justify-content: center;
    color: #fff;
    
}

.Contacto{
    background-image: url(../Img/49754-gamer.jpg);
    width: 100%;
    height: 200px;
    margin: 20px;
    padding: 50px;
    background-image: cover;
    
}

.info{
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 5px #fff;
    width: 100%;
    padding: 30px;
}

.info > h1{
    border-bottom: 3px solid #01eeff;   
    margin: 5px; 
}
.info > h2{
    border-bottom: 3px solid #01eeff;
    margin: 5px;
}
.info > h3{
    border-bottom: 3px solid #01eeff;
    margin: 5px;
    
}